**Neural Network Model**


**Gas_turbines dataset**

In [1]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
import math
from sklearn.metrics import mean_squared_error

In [2]:
# Loading dataset

In [4]:
data=pd.read_csv('/content/gas_turbines.csv')
data

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311
...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498

In [5]:
data.columns

Index(['AT', 'AP', 'AH', 'AFDP', 'GTEP', 'TIT', 'TAT', 'TEY', 'CDP', 'CO',
       'NOX'],
      dtype='object')

In [ ]:
# Using only ambient variables as features and TEY as target variable as given in problem statement

In [6]:
x=data[['AT', 'AP', 'AH']]
y=data['TEY']

In [7]:
# Splitting data to train and test

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
 

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(10527, 3)
(10527,)
(4512, 3)
(4512,)

In [9]:
# Buliding model with 3 hidden layers

In [10]:
model = Sequential()
model.add(Dense(units=12, input_dim=3, kernel_initializer='normal', activation='relu'))
model.add(Dense(units=8, kernel_initializer='normal', activation='tanh'))
model.add(Dense(1, kernel_initializer='normal'))

In [11]:
# Compiling the model with Mean squared error as this is regression problem

In [12]:
model.compile(loss='mean_squared_error', optimizer='adam')

In [13]:
# Fitting the model with 50 epochs and batch size as 10

In [14]:
m=model.fit(x_train, y_train, epochs=50, batch_size=10)

Epoch 1/50
1053/1053 [==============================] - 4s 3ms/step - loss: 16997.9023
Epoch 2/50
1053/1053 [==============================] - 2s 1ms/step - loss: 14695.7793
Epoch 3/50
1053/1053 [==============================] - 2s 2ms/step - loss: 12613.1719
Epoch 4/50
1053/1053 [==============================] - 2s 1ms/step - loss: 10722.0889
Epoch 5/50
1053/1053 [==============================] - 2s 1ms/step - loss: 9007.9727
Epoch 6/50
1053/1053 [==============================] - 2s 1ms/step - loss: 7462.3955
Epoch 7/50
1053/1053 [==============================] - 2s 1ms/step - loss: 6080.1978
Epoch 8/50
1053/1053 [==============================] - 2s 1ms/step - loss: 4859.7964
Epoch 9/50
1053/1053 [==============================] - 2s 1ms/step - loss: 3796.5027
Epoch 10/50
1053/1053 [==============================] - 2s 2ms/step - loss: 2886.0125
Epoch 11/50
1053/1053 [==============================] - 3s 3ms/step - loss: 2126.1272
Epoch 12/50
1053/1053 [==============================] - 2s 2ms/step - loss: 1512.4778
Epoch 13/50
1053/1053 [==============================] - 2s 2ms/step - loss: 1036.4946
Epoch 14/50
1053/1053 [==============================] - 2s 2ms/step - loss: 690.0191
Epoch 15/50
1053/1053 [==============================] - 2s 2ms/step - loss: 460.9966
Epoch 16/50
1053/1053 [==============================] - 2s 2ms/step - loss: 329.7933
Epoch 17/50
1053/1053 [==============================] - 3s 2ms/step - loss: 270.8744
Epoch 18/50
1053/1053 [==============================] - 2s 2ms/step - loss: 253.0973
Epoch 19/50
1053/1053 [==============================] - 2s 1ms/step - loss: 250.0287
Epoch 20/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8053
Epoch 21/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.7977
Epoch 22/50
1053/1053 [==============================] - 3s 3ms/step - loss: 249.8263
Epoch 23/50
1053/1053 [==============================] - 2s 1ms/step - loss: 249.8113
Epoch 24/50
1053/1053 [==============================] - 2s 1ms/step - loss: 249.8047
Epoch 25/50
1053/1053 [==============================] - 2s 1ms/step - loss: 249.8001
Epoch 26/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.7858
Epoch 27/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8068
Epoch 28/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8082
Epoch 29/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8177
Epoch 30/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8036
Epoch 31/50
1053/1053 [==============================] - 2s 1ms/step - loss: 249.8142
Epoch 32/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8086
Epoch 33/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8049
Epoch 34/50
1053/1053 [==============================] - 3s 2ms/step - loss: 249.8167
Epoch 35/50
1053/1053 [==============================] - 3s 3ms/step - loss: 249.8194
Epoch 36/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8066
Epoch 37/50
1053/1053 [==============================] - 2s 1ms/step - loss: 249.8125
Epoch 38/50
1053/1053 [==============================] - 2s 1ms/step - loss: 249.8146
Epoch 39/50
1053/1053 [==============================] - 2s 1ms/step - loss: 249.8162
Epoch 40/50
1053/1053 [==============================] - 2s 1ms/step - loss: 249.8082
Epoch 41/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8022
Epoch 42/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8142
Epoch 43/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8070
Epoch 44/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8032
Epoch 45/50
1053/1053 [==============================] - 2s 1ms/step - loss: 249.8133
Epoch 46/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8143
Epoch 47/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8191
Epoch 48/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.8112
Epoch 49/50
1053/1053 [==============================] - 2s 2ms/step - loss: 249.7945
Epoch 50/50
1053/1053 [==============================] - 2s 1ms/step - loss: 249.8290

In [15]:
# Predicting for test data

In [16]:
Predictions=model.predict(x_test)
Predictions

array([[134.34671],
       [134.34671],
       [134.34671],
       ...,
       [134.34671],
       [134.34671],
       [134.34671]], dtype=float32)

In [18]:
print(y_test)

13312    134.46
12627    111.88
6393     133.72
4990     133.79
12462    110.77
          ...
7495     134.08
11501    102.87
2685     155.96
9412     133.67
9775     156.32
Name: TEY, Length: 4512, dtype: float64

In [19]:
# Finding the error for our model

In [20]:
mean_squared_error(y_test,Predictions)
math.sqrt(mean_squared_error(y_test,Predictions))

15.889526776816863

**We got error of 15.8 for our model using above parameters**